# Site URL
NEXT_PUBLIC_SITE_URL=

# Other configurations
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Admin Configuration
ADMIN_ACCESS_TOKEN=
ADMIN_USERNAME=
ADMIN_PASSWORD=
JWT_SECRET=